<app-loading *ngIf="loading"></app-loading>
  <div *ngIf="isLoaded"></div>
  <!-- main app container -->
    <div class="container">
        <div class="row"> 
            <div class="col-md-6 col-md-offset-3"> 
                <h3>Add Dinosaur</h3>
                <!-- Error -->
                <p *ngIf="error" class="alert alert-danger">
                    <strong>Rawr!</strong> There was an error submitting data for the dinosaur you requested.
                  </p>

                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="Name">Name</label>
                          <input type="text" class="form-control" name="Name" [(ngModel)]="model.Name" #Name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Name.invalid }" autofocus  required />
                          <div *ngIf="f.submitted && Name.invalid" class="invalid-feedback">
                              <div *ngIf="Name.errors.required">Name is required</div>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="Pronunciation">Pronunciation</label>
                          <input type="text" class="form-control" name="Pronunciation" [(ngModel)]="model.Pronunciation" #Pronunciation="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Pronunciation.invalid }" required />
                          <div *ngIf="f.submitted && Pronunciation.invalid" class="invalid-feedback">
                              <div *ngIf="Pronunciation.errors.required">Pronunciation is required</div>
                          </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="MeaningOfName">MeaningOfName</label>
                          <input type="text" class="form-control" name="MeaningOfName" [(ngModel)]="model.MeaningOfName" #MeaningOfName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && MeaningOfName.invalid }" required />
                          <div *ngIf="f.submitted && MeaningOfName.invalid" class="invalid-feedback">
                              <div *ngIf="MeaningOfName.errors.required">MeaningOfName is required</div>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="Diet">Diet</label>
                          <input type="text" class="form-control" name="Diet" [(ngModel)]="model.Diet" #Diet="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Diet.invalid }" required />
                          <div *ngIf="f.submitted && Diet.invalid" class="invalid-feedback">
                              <div *ngIf="Diet.errors.required">Diet is required</div>
                          </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="LengthOfDino">LengthOfDino</label>
                          <input type="text" class="form-control" name="LengthOfDino" [(ngModel)]="model.LengthOfDino" #LengthOfDino="ngModel" [ngClass]="{ 'is-invalid': f.submitted && LengthOfDino.invalid }" required />
                          <div *ngIf="f.submitted && LengthOfDino.invalid" class="invalid-feedback">
                              <div *ngIf="LengthOfDino.errors.required">LengthOfDino is required</div>
                          </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="Period">Period</label>
                          <input type="text" class="form-control" name="Period" [(ngModel)]="model.Period" #Period="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Period.invalid }" required />
                          <div *ngIf="f.submitted && Period.invalid" class="invalid-feedback">
                              <div *ngIf="Period.errors.required">Period is required</div>
                          </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="Mya">Mya</label>
                          <input type="text" class="form-control" name="Mya" [(ngModel)]="model.Mya" #Mya="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Mya.invalid }" required />
                          <div *ngIf="f.submitted && Mya.invalid" class="invalid-feedback">
                              <div *ngIf="Mya.errors.required">Mya is required</div>
                          </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="Info">Info</label>
                          <textarea class="form-control" name="Info" [(ngModel)]="model.Info" #Info="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Info.invalid }" rows="5" required placeholder="Enter Information"></textarea>
                          <div *ngIf="f.submitted && Info.invalid" class="invalid-feedback">
                              <div *ngIf="Info.errors.required">Info is required</div>
                          </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8 btn-toolbar pull-left">
                          <button class="btn btn-primary">Submit</button>
                          <button class="btn btn-info" type="reset">Revert</button>
                        </div>
                        <a class="form-group col-md-4 pull-right" routerLink="/dinosaur">&larr; All Dinosaurs</a>
                    </div>
                </form>
            </div>
        </div>
    </div>